# Forcer les fichiers texte à utiliser LF
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.css text eol=lf

# Les fichiers binaires ne doivent pas être modifiés
*.png binary
*.jpg binary
*.gif binary
